<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <!--INTERFACES-->
  <alias alias="IUserRepository" type="DEDEAT.Repository.Contract.IUserRepository, DEDEAT.Repository.Contract" />
  <alias alias="IPaperRepository" type="DEDEAT.Repository.Contract.IPaperRepository, DEDEAT.Repository.Contract" />
  <alias alias="IResearchTypeRepository" type="DEDEAT.Repository.Contract.IResearchTypeRepository, DEDEAT.Repository.Contract" />
  <alias alias="IAuthorRepository" type="DEDEAT.Repository.Contract.IAuthorRepository, DEDEAT.Repository.Contract" />
  <alias alias="IPartnerRepository" type="DEDEAT.Repository.Contract.IPartnerRepository, DEDEAT.Repository.Contract" />
  
  <!--CONCRETE CLASSES-->
  <alias alias="UserRepository" type="DEDEAT.Repository.UserRepository, DEDEAT.Repository" />
  <alias alias="PaperRepository" type="DEDEAT.Repository.PaperRepository, DEDEAT.Repository" />
  <alias alias="ResearchTypeRepository" type="DEDEAT.Repository.ResearchTypeRepository, DEDEAT.Repository" />
  <alias alias="AuthorRepository" type="DEDEAT.Repository.AuthorRepository, DEDEAT.Repository" />
  <alias alias="PartnerRepository" type="DEDEAT.Repository.PartnerRepository, DEDEAT.Repository" />
  
  <!--MAPPINGS-->
  <container>
    <register type="IUserRepository" mapTo="UserRepository"/>
    <register type="IPaperRepository" mapTo="PaperRepository"/>
    <register type="IResearchTypeRepository" mapTo="ResearchTypeRepository"/>
    <register type="IAuthorRepository" mapTo="AuthorRepository"/>
    <register type="IPartnerRepository" mapTo="PartnerRepository"/>
    <!---->
  </container>

</unity>