@{
    ViewBag.Title = "About The Portal";
}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs header-color">
    <div class="container">
        <h1 class="pull-left">@ViewBag.Title</h1>
        @*<ul class="pull-right breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">About Us</li>
            </ul>*@
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<!--=== Content Part ===-->
<div class="container content">
    <div class="row margin-bottom-40 sky-form">
        <h2 style="padding:15px 0 0 15px">Welcome to the Eastern Cape Economic Research Portal!</h2> <br />
        <div class="col-md-12 md-margin-bottom-40" style="padding:0px 15px 50px 15px;">

            <h3>Background</h3>

            <p>
                The Eastern Cape Economic Research Portal is an initiative hosted by the department of Economic Development,
                Environmental Affairs and Tourism. It was birthed out of the need for greater
                coordination and access to public sector research.
            </p><br />

            <h3>What?</h3>
            <p>
                The portal was created to provide a place where relevant public sector research could be better archived,
                organised and made available to universities, research institutions, provincial and national departments,
                and the public at large.
            </p><br />

            <h3>Why?</h3>
            <p>
                Robust research drives good policy and practice. Research is an ongoing process which cumulatively defines a greater body of knowledge through
                consistently revisiting, reshaping, refining, and reforming the existing wisdom and best practice.
            </p>
            <p>
                It was recognised by researchers in the Eastern Cape that public sector research was losing its cumulative impact through a lack of
                consolidation and coordination. The portal is a tool towards maximising the benefit of such research.
            </p>
        </div>
        @*<div class="col-md-6 md-margin-bottom-40">
            <div class="responsive-video">
                <iframe src="http://player.vimeo.com/video/9679622" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>*@
    </div>

</div><!--/container-->
<!--=== End Content Part ===-->
